@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4ebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Muli", sans-serif;
  color: #2f3144;
}

ion-icon {
  font-size: 1.5rem;
  background-color: #ffbc00;
  padding: 0.5em;
  border-radius: 50px;
  color: white;
}

.container {
  background-color: white;
  width: 90%;
  padding: 50px 50px;
  border-radius: 10px;
  max-width: 800px;
}

header {
  width: 60%;
  font-size: 0.7rem;
  margin-bottom: 2.5em;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.left-sec {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 1.2em 1em;
  border-radius: 0.5em;
  max-width: 220px;
}

.card h3 {
  font-size: 0.8rem;
  margin: 0.5em 0;
}

.card p {
  margin-top: 0.7em;
  font-size: 0.8rem;
}

.card:hover {
  background-color: #ffbc00;
}

.card:hover ion-icon {
  background-color: white;
  color: #2f3144;
}

.right-sec {
  border: 1px solid #e4ebeb;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  box-shadow: 0px 5px 2px -2px rgba(0, 0, 0, 0.2);
}

.right-sec h3 {
  margin: 0.7em;
}

.blog-card {
  padding: 1em;
  border-radius: 0.5em;
}

.blog-card h4 {
  font-size: 0.8rem;
  font-weight: 600;
}

.blog-card h5 {
  color: #ffbc00;
  font-size: 0.6rem;
  margin-top: 0.3em;
}

.blog-card:hover {
  background-color: #e4ebeb;
}
